<div class="row d-flex justify-content-between align-items-end">
  <div class="col-auto pe-0">
    <a href="/prototype/pages/relatorios.html" class="btn p-1">
      <img src="/img/icons/chevron-left.svg" alt="" width="20" height="20">
    </a>
  </div>
  <div class="col fs-5 fw-medium">Gerar relatório - Cronograma por Projeto</div>
  <div class="col-auto pe-0">
    <a class="btn p-1">
      <img src="/img/icons/share-fill.svg" alt="" width="20" height="20">
    </a>
  </div>
  <div class="col-auto">
    <a class="btn p-1">
      <img src="/img/icons/download.svg" alt="" width="20" height="20">
    </a>
  </div>
  <hr class="mt-1">
</div>

<div class="row">
  <form class="col">
    <fieldset disabled>
      <div class="mb-3">
        <label for="projeto" class="form-label">Projeto:</label>
        <input type="text" id="projeto" class="form-control shadow-sm" placeholder="Projeto 01">
      </div>
      
    </fieldset>
  </form>
</div>