<table class="table mt-4 align-middle">
  <thead class="table-light">
    <tr>
      <th scope="col">Projeto</th>
      <th scope="col">Status</th>
      <th scope="col">Valor Total Projeto</th>
      <th scope="col">Total Pago</th>
      <th scope="col">Falta Receber</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Projeto 01 - Lorem ipsum dolor</th>
      <td>quitado</td>
      <td>R$ 20.000,00</td>
      <td>R$ 20.000,00</td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">Projeto 02 - In consequat tortor</th>
      <td>quitado</td>
      <td>R$ 52.000,00</td>
      <td>R$ 52.000,00</td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">Projeto 03 - Donec ullamcorper</th>
      <td>quitado</td>
      <td>R$ 13.000,00</td>
      <td>R$ 13.000,00</td>
      <td> - </td>
    </tr>
    <tr>
      <th scope="row">Projeto 04 - Proin quis</th>
      <td>concluído</td>
      <td>R$ 15.000,00</td>
      <td>R$ 12.000,00</td>
      <td>R$ 3.000,00</td>
    </tr>
    <tr>
      <th scope="row">Projeto 05 - Mauris varius</th>
      <td>em andamento</td>
      <td>R$ 6.000,00</td>
      <td>R$ 2.000,00</td>
      <td>R$ 4.000,00</td>
    </tr>
    <tr>
      <th scope="row">Projeto 06 - Praesent vitae nisl</th>
      <td>em andamento</td>
      <td>R$ 23.000,00</td>
      <td>R$ 12.000,00</td>
      <td>R$ 11.000,00</td>
    </tr>
    <tr>
      <th scope="row">Projeto 07 - Sed nec elit </th>
      <td>em andamento</td>
      <td>R$ 7.500,00</td>
      <td> - </td>
      <td>R$ 7.500,00</td>
    </tr>
    <tr>
      <th scope="row">Projeto 08 - Pellentesque volutpat</th>
      <td>concluído</td>
      <td>R$ 8.000,00</td>
      <td>R$ 6.500,00</td>
      <td>R$ 1.500,00</td>
    </tr>
    <tr>
      <th scope="row">Projeto 09 - Phasellus at magna</th>
      <td>em andamento</td>
      <td>R$ 38.000,00</td>
      <td>R$ 5.000,00</td>
      <td>R$ 33.000,00</td>
    </tr>
    <tr>
      <th scope="row">Projeto 10 - Fusce accumsan</th>
      <td>em andamento</td>
      <td>R$ 15.000,00</td>
      <td> - </td>
      <td>R$ 15.000,00</td>
    </tr>
    <tr>
      <th scope="row">Projeto 11 - Nullam posuer</th>
      <td>em andamento</td>
      <td>R$ 45.000,00</td>
      <td> - </td>
      <td>R$ 45.000,00</td>
    </tr>

  </tbody>
</table>