<nav class="navbar navbar-expand-lg" data-bs-theme="dark" style="background-color: #78A58B;">
  <div class="container-fluid">
    <div class="rounded" style="background-color: #19535F;">

    </div>
    <a class="navbar-brand" href="#">
      <img src="/img/icon.jpg" alt="" class="rounded-circle me-1 d-inline-block align-text-middle" width="30" height="30">
      <span class="font-logo" >ArchSpot</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Planos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Plano Livre</a></li>
            <li><a class="dropdown-item" href="#">Plano Autônomo</a></li>
            <li><a class="dropdown-item" href="#">Plano Empresa</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Conheça mais...</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Ajuda</a>
        </li>
      </ul>
    
      <a class="fs-5 link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover me-2" role="button">Cadastre-se</a>
      <a href="/prototype/pages/home.html" class="btn fw-medium ms-3 me-2 px-3 border-2"
        style="background-color: #FBECDA; border-color: #19535F; color: #19535F">Entre</a>
        
    </div>
  </div>
</nav>