<div class="modal fade" id="modalGerarQrcode" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4 font-logo" id="staticBackdropLabel">Gerar QRCode</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            
            <div class="row g-3 fw-medium align-items-center">
              <div class="col">
                <h5 class="mb-4">Parcela 3/5:</h5>
                
                <p class="mb-0">Valor: R$ 15.000,00</p>
                <p class="mb-0">Descrição: Estudo Preliminar</p>
                <p class="mb-0">Validade QR: 05/01/2025</p>

              </div>

              <div class="col-auto">
                <img src="/img/icons/Link_pra_pagina_principal_da_Wikipedia-PT_em_codigo_QR_b.svg" alt="" width="200" height="200">
              </div>
            </div>
                     
          </div>
  
        </div>
        <div class="modal-footer">
            <div class="col-auto p-0">
              <a class="btn">
                <img src="/img/icons/share-fill.svg" alt="" width="25" height="25" data-bs-toggle="modal" data-bs-target="#modalCriarNovaParcela">
              </a>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

        </div>
      </div>
    </div>
  </div>