<div class="modal fade" id="modalNovoComentario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4 font-logo" id="staticBackdropLabel">Novo comentário</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          
          <div class="row g-3 fw-medium">
            <form class="col">
              
              <div class="mb-3">
                <label for="campoComentario" class="form-label">Comentário:</label>
                <textarea type="text" class="form-control" id="campoDescricao" aria-describedby="descricao" placeholder=""></textarea>
              </div>

            </form>
          </div>
                   
        </div>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Enviar Comentário</button>
      </div>
    </div>
  </div>
</div>