<div class="modal fade" id="modalCriarNovoEvento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4 font-logo" id="staticBackdropLabel">Criar Novo Evento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          
          <div class="row g-3 fw-medium">
            <form class="col">
              <div class="mb-3">
                <label for="campoNome" class="form-label">Nome do Evento:</label>
                <input type="text" class="form-control" id="campoNome" aria-describedby="nomeHelp" placeholder="">
              </div>             
              
              <div class="mb-3">
                <label for="campoData" class="form-label">Data:</label>
                <input type="date" class="form-control" id="campoData" aria-describedby="data" placeholder="">
              </div>

              <div class="mb-3">
                <label for="campoDescricao" class="form-label">Descrição:</label>
                <textarea type="text" class="form-control" id="campoDescricao" aria-describedby="descricao" placeholder=""></textarea>
              </div>

              <div class="mb-3">
                <label for="campoEtapaPredecessora" class="form-label">Participantes:</label>
                <select type="date" class="form-select" id="campoEtapaPredecessora" aria-describedby="etapa predecessora" placeholder="">
                  <option selected>selecione</option>
                  <option value="1">Fernando</option>
                  <option value="2">Hélio</option>
                  <option value="3">Beatriz</option>
                </select>
              </div>

            </form>
          </div>
                   
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Criar Evento</button>
    </div>
    </div>
  </div>
</div>