<!--modal - Editar Perfil-->
<div class="modal fade" id="modalEtapasNovoProjeto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4 font-logo" id="staticBackdropLabel">Criar Novo Projeto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          
          <div class="row g-3">
            <div class="col-sm-6">
              <h5>Outras etapas:</h5>
              <div class="d-grid gap-1">
                <button type="button" class="btn btn-outline-secondary shadow text-start mb-2">As Built</button>
                <button type="button" class="btn btn-outline-secondary shadow text-start mb-2">Detalhamento</button>
                <button type="button" class="btn btn-outline-secondary shadow text-start mb-2">Levantamento</button>
                <button type="button" class="btn btn-outline-secondary shadow text-start mb-2">Mobiliário</button>
                <button type="button" class="btn btn-outline-secondary shadow text-start mb-2">Interiores</button>
                <button type="button" class="btn btn-outline-secondary shadow text-start mb-2">Paisagismo</button>
                <button type="button" class="btn btn-outline-secondary shadow text-start mb-2">Pontos Elétricos</button>
                <button type="button" class="btn btn-outline-secondary shadow text-start mb-2">Pontos Hidráulicos</button>
              </div>
            </div>
            
            <div class="col-sm-6">
              <h5>Etapas no projeto:</h5>
              <div class="d-grid gap-1">
                <button type="button" class="btn mb-2 btn-outline-success shadow text-start">Estudo Preliminar</button>
                <button type="button" class="btn mb-2 btn-outline-success shadow text-start">Anteprojeto</button>
                <button type="button" class="btn mb-2 btn-outline-success shadow text-start">Projeto Legal</button>
                <button type="button" class="btn mb-2 btn-outline-success shadow text-start">Projeto Executivo</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-grid">
              <button type="button" class="btn btn-outline-secondary my-3">+ Criar Nova Etapa</button>
            </div>
          </div>
         
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Salvar Novo Template</button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalConfirmNovoProjeto">Criar Projeto</button>
      </div>
    </div>
  </div>
</div>