<!--modal - Editar Perfil-->
<div class="modal fade" id="modalCriarProjeto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4 font-logo" id="staticBackdropLabel">Criar Novo Projeto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <h5>Tipo de Projeto:</h5>
          <div class="row row-cols-md-3 g-2">

            <div class="col">
              <div class="card h-100 text-center mb-3 border-3" style="border-color: #78A58B;">
                <div class="card-body">
                  <h6 class="card-title mb-0">+ Novo Projeto</h6>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <a href="#" class="btn bg-archspot-samambaia text-white">Criar</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 text-center mb-3 border-3" style="border-color: #78A58B;">
                <div class="card-body">
                  <h6 class="card-title mb-0">Projeto Arquitetônico</h6>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <a href="#" class="btn bg-archspot-samambaia text-white">Criar</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 text-center mb-3 border-3" style="border-color: #78A58B;">
                <div class="card-body">
                  <h6 class="card-title mb-0">Projeto de Interiores</h6>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <a href="#" class="btn bg-archspot-samambaia text-white">Criar</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 text-center mb-3 border-3" style="border-color: #78A58B;">
                <div class="card-body">
                  <h6 class="card-title mb-0">Projeto Comercial</h6>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <a href="#" class="btn bg-archspot-samambaia text-white">Criar</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 text-center mb-3 border-3" style="border-color: #78A58B;">
                <div class="card-body">
                  <h6 class="card-title mb-0">Reforma</h6>
                </div>
                <div class="card-footer bg-transparent border-0">
                  <a href="#" class="btn bg-archspot-samambaia text-white">Criar</a>
                </div>
              </div>
            </div>
          </div>
         
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>