<div class="row">
  <div class="col-10 offset-1">

    <div class="calendar mt-2">
      <div class="row">
        <div class="col btn">
          <img src="/img/icons/caret-left-fill.svg" width="20" height="20" alt="previus">
        </div>
        <div class="col-auto">
          <select class="form-select btn-outline-secondary fw-semibold fs-5">
            <option value="">Janeiro/2025</option>
            <option value="">Fevereiro/2025</option>
            <option value="" selected>Março/2025</option>
            <option value="">Abril/2025</option>
            <option value="">Maio/2025</option>
          </select>
        </div>
        <div class="col btn">
          <img src="/img/icons/caret-right-fill.svg" width="20" height="20" alt="next">
        </div>
      </div>
    
      <div class="row mt-1 text-center">
        <div class="col week-day">
          Seg
        </div>
        <div class="col week-day">
          Ter
        </div>
        <div class="col week-day">
          Qua
        </div>
        <div class="col week-day">
          Qui
        </div>
        <div class="col week-day">
          Sex
        </div>
        <div class="col week-day">
          Sáb
        </div>
        <div class="col week-day">
          Dom
        </div>
      </div>
    
      <div class="row">
        <div class="col day">
          
        </div>
        <div class="col day">
          
        </div>
        <div class="col day">
          
        </div>
        <div class="col day">
          
        </div>
        <div class="col day">
          
        </div>
        <div class="col day day-off">
          1
        </div>
        <div class="col day day-off">
          2
        </div>
      </div>
    
      <div class="row">
        <div class="col day">
          3
        </div>
        <div class="col day">
          4
          <div class="border rounded-2 m-1 p-1 lh-1 day-evento">
            <small class="fw-light">Reunião eng Helio</small>
          </div>
        </div>
        <div class="col day">
          5
        </div>
        <div class="col day">
          6
        </div>
        <div class="col day">
          7
        </div>
        <div class="col day day-off">
          8
        </div>
        <div class="col day day-off">
          9
        </div>
      </div>
    
      <div class="row">
        <div class="col day">
          10
        </div>
        <div class="col day">
          11
        </div>
        <div class="col day">
          12
        </div>
        <div class="col day">
          13
          <div class="border rounded-2 m-1 p-1 lh-1 day-evento">
            <small class="fw-light">Auditoria</small>
          </div>
        </div>
        <div class="col day">
          14
        </div>
        <div class="col day day-off">
          15
        </div>
        <div class="col day day-off">
          16
        </div>
      </div>
    
      <div class="row">
        <div class="col day">
          17
          <div class="border rounded-2 m-1 p-1 lh-1 day-evento">
            <small class="fw-light">Comprar material</small>
          </div>
        </div>
        <div class="col day">
          18
        </div>
        <div class="col day">
          19
          <div class="border rounded-2 m-1 p-1 lh-1 day-evento">
            <small class="fw-light">Reunião cliente Beatriz</small>
          </div>
        </div>
        <div class="col day">
          20
          <div class="border rounded-2 m-1 p-1 lh-1 day-evento">
            <small class="fw-light">Visita terreno</small>
          </div>
        </div>
        <div class="col day">
          21
        </div>
        <div class="col day day-off">
          22
        </div>
        <div class="col day day-off">
          23
        </div>
      </div>
    
      <div class="row">
        <div class="col day">
          24
          <div class="border rounded-2 m-1 p-1 lh-1 day-evento">
            <small class="fw-light">Visita técnica</small>
          </div>
        </div>
        <div class="col day">
          25
        </div>
        <div class="col day">
          26
        </div>
        <div class="col day">
          27
        </div>
        <div class="col day">
          28
        </div>
        <div class="col day day-off">
          29
        </div>
        <div class="col day day-off">
          30
        </div>
      </div>
    
      <div class="row">
        <div class="col day">
          31
        </div>
        <div class="col day">
          
        </div>
        <div class="col day">
          
        </div>
        <div class="col day">
          
        </div>
        <div class="col day">
          
        </div>
        <div class="col day">
          
        </div>
        <div class="col day">
          
        </div>
      </div>
    
    
    </div>

  </div>
</div>